.imgBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    min-height: 20h;
    min-width: 30vw;
    margin-top: 50px;
}

#logo-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
}

@media (min-width: 600px) {

    .imgBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 40vh;
        min-width: 30vw;
        margin: 0;
    }

    #logo-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 320px;
    }
}